.graph-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.graph-canvas {
  width: 100%;
  height: 100%;
  background: #fafafa;
  padding: 0;
  margin: 0;
}

.graph-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}
