.header-container {
  width: 100%;
  height: 64px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #001529;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-left h4 {
  margin: 0 !important;
  line-height: 64px !important;
  color: #ffffff !important;
}
