.matrix-view-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.matrix-view-card .ant-card-body {
  flex: 1;
  overflow: auto;
  padding: 16px;
}

.matrix-chart-container {
  min-height: 500px;
}

.matrix-view-card .ant-spin-nested-loading {
  height: 100%;
}

.matrix-view-card .ant-spin-container {
  height: 100%;
}
